atomicwrites
attrs
colorama
cycler
importlib-metadata
joblib
kiwisolver
matplotlib
more-itertools
mpl-finance
numpy
packaging
pandas
pluggy
py
pyparsing
pytest
pytest-runner
python-dateutil
pytz
scikit-learn
scipy
six
wcwidth
ZigZag
zipp
